@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-500;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] sm:text-6xl text-center;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-400 via-green-500 to-green-300 bg-clip-text text-transparent;
}

.home-img {
  height: 200px;
}

.home-card {
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  border-bottom: 10px solid #69faa2;
  border-left: 7px solid #69faa2;
  backdrop-filter: blur(5px);
  overflow: hidden;
  transition: transform 0.5s ease;
}

.home-card:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 971px) {
  .stock-card {
    width: 100%;
    overflow: hidden;
  }
  .stock-gif {
    display: none;
  }
}
@media screen and (max-width: 683px) {
  .stock-detail-title {
    margin-top: 5rem;
  }

  .name-price {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .finance-news {
    margin-top: 3rem;
  }

  .ask-ai {
    margin-top: 5rem;
  }

  .rapid-abstract {
    padding-top: 3rem;
  }

  .windmill {
    margin: 0rem;
    width: 90%;
    
  }

  .ai-resp{
    height: 60vh;
  }
}

@media screen and (max-width: 574px) {
  .cards {
    width: 90%;
    overflow: hidden;
  }

  .subtitle {
    font-size: 2rem;
  }

  .stock-card {
    margin-left: 0;
  }

  .url-input {
    width: 60%;
  }

  .ai-resp {
    width: 90%;
    margin-bottom: 7rem;
  }

  .ask-ai{
    margin-bottom: 0;
  }
}
@media screen and (max-width: 466px) {
  .wiki-visit {
    flex-direction: column;
  }

  .news-cards {
    width: 80%;
  }

  .ask-ai{
    margin-top: 4rem;
  }

  .ai-resp {
    margin-bottom: 2rem;
  }
}
